<section class="admin-products-new">

<header class="page-header">
    <div class = 'well'>
      <h1>Signup!</h1>
    </div>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
    <%= form_for :users, url: '/users' do |f| %>

        <div class="form-group">
          <strong>First Name:</strong> <%= f.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <strong>Last Name:</strong> <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <strong>Email:</storng> <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <strong>Password:</strong> <%= f.password_field :password, class:'form-control' %>
        </div>

        <div class="form-group">
          <strong>Password Confirmation:</strong> <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
